<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="InkDOSWorkspaceProgramsFolder" Name="InkDOS">
        <Component Id="InkDOSDocumentsLauncher" Guid="*">
          <Shortcut Id="InkDOSDocumentsShortcut" Name="InkDOS Documents" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace documents" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="documents" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        <Component Id="InkDOSSpreadsheetsLauncher" Guid="*">
          <Shortcut Id="InkDOSSpreadsheetsShortcut" Name="InkDOS Spreadsheets" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace spreadsheets" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="spreadsheets" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        <Component Id="InkDOSPresentationsLauncher" Guid="*">
          <Shortcut Id="InkDOSPresentationsShortcut" Name="InkDOS Presentations" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace presentations" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="presentations" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        <Component Id="InkDOSPdfLauncher" Guid="*">
          <Shortcut Id="InkDOSPdfShortcut" Name="InkDOS PDF" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace pdf" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="pdf" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        <Component Id="InkDOSEpubLauncher" Guid="*">
          <Shortcut Id="InkDOSEpubShortcut" Name="InkDOS EPUB" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace epub" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="epub" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        <Component Id="InkDOSTxtLauncher" Guid="*">
          <Shortcut Id="InkDOSTxtShortcut" Name="InkDOS Plain Text" Target="[INSTALLFOLDER]InkDOS.exe" Arguments="--workspace txt" WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue Root="HKCU" Key="Software\InkDOS\WorkspaceLaunchers" Name="txt" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="InkDOSWorkspaceLaunchers">
      <ComponentRef Id="InkDOSDocumentsLauncher" />
      <ComponentRef Id="InkDOSSpreadsheetsLauncher" />
      <ComponentRef Id="InkDOSPresentationsLauncher" />
      <ComponentRef Id="InkDOSPdfLauncher" />
      <ComponentRef Id="InkDOSEpubLauncher" />
      <ComponentRef Id="InkDOSTxtLauncher" />
    </ComponentGroup>
  </Fragment>
</Wix>
