[Desktop Entry]
Type=Application
Name=InkDOS Documents
Exec=InkDOS --workspace documents
Icon=/usr/share/inkdos/workspace-icons/documents.svg
Terminal=false
Categories=Office;
X-InkDOS-Workspace=documents
X-InkDOS-SourceIcon=assets/icons/documents.svg
