[Desktop Entry]
Type=Application
Name=InkDOS EPUB
Exec=InkDOS --workspace epub
Icon=inkdos-epub
Terminal=false
Categories=Office;
X-InkDOS-Workspace=epub
X-InkDOS-SourceIcon=assets/icons/epub.svg
